.profiledropdown{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: royalblue;
    padding: 0.25rem;
    display: none;
    z-index: 999;
}

.profile:focus-within .profiledropdown,
.profile:hover .profiledropdown {
    display: block;
}